body{
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #e0e6ed;
    margin-top: 20px;
    margin-bottom: 400px;
    padding: 20px;
}
button{
    width: 360px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 470px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 6px 5px 5px rgb(1, 39, 12);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
button:hover{
    background-color: rgb(14, 0, 0);
    color: white;
    box-shadow: 2px 2px 5px rgb(75, 22, 71);
    transform: scale(1.3);
}
h1{
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid rgb(90, 187, 182);
    color: rgb(24, 0, 0);
    text-shadow: 2px 2px 5px rgb(93, 113, 121);
}
h1{
    background-color: rgb(231, 222, 223);
    padding: 20px;
    box-shadow: 4px 4px 5px rgb(7, 55, 70);
  display: inline-block;      
  margin-left: 380px;
  font-size: 40px;
  border: 2px solid #333;
  border-radius: 9999px;      
  text-align: center;
}
h1:hover{
    background-color: rgb(7, 0, 8);
    color: white;
    box-shadow: 2px 2px 5px rgb(209, 175, 206);
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}